* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > .header {
    background-color: #add8e6;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header > .grid-settings {
    padding: 8px 15px;
    cursor: pointer;
}

/* .header > .grid-settings:hover {} */

/* .header > .grid-settings:active {} */

body > .content {
    background-color: #ffdab9;

    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;
}

.content > .container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
