* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > .container {
    border: solid 1px black;

    display: flex;
    flex-wrap: wrap;
    width: 402px;
}

.square-design {
    border: 1px solid black;
    height: 25px;
    width: 25px;
}
